body {
    margin: 0;
    background-color: #1F2937;
    display: inline;
}

h1 {
    color: white;
    padding-left: 10%;
    padding-top: 15%;
    padding-right: 10%;
    margin-bottom: 0px;
}

span {
    color: #4ADF86;
}

p {
    color: white;
    padding-left: 10%;
    padding-top: 0;
    padding-right: 10%;
    margin-top: 0;
}

#genBtn {

    margin-left: 10%;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
    border: none;
    background-color: #10B981;
    color: white;
}

#hr {
    margin: 10%;
    border: 1px solid #2F3E53;
}

.passwords-container {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
}

.password-box {
    background-color: #273549;
    color: #55F991;

    width: 150px;
    height: 40px;
    border-radius: 5px;


    display: flex;
    align-items: center;
    justify-content: center;

    cursor: copy;
}